{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "bracketSpacing": true,
        "compiler": "0.8.26",
        "parser": "solidity-parse",
        "printWidth": 120,
        "tabWidth": 4
      }
    }
  ]
}
